.nav-ul{
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}

.nav-ul li {
  display: inline-block;
  padding: 10px;
  color:#fff;
}
.nav-ul li a{
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}
.nav-right{
  text-align: right;
}
.nav-logo{
  width: 45px;
  float: left;
  margin-top:3px;
  margin-left: 20px;
  border-radius: 50%;
}
.footer{
  position:absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}
.signup, .product{
  margin-left: 30%;
}
.inputBox{
   display:block;
   margin: 25px;
   padding: 5px;
   width: 300px;
   border: 1px solid skyblue; 
}
#signupBtn,.addBtn{
  margin: 25px;
  padding: 10px;
  background-color: skyblue;
  width: 150px;
  border: none;
  cursor: pointer;
}
.login{
  margin-left: 30%;
  margin-top:100px ;
}

.error{
  color: red;
  margin-top: -20px;
  display: block;
  margin-left: 25px;
}

.product_list{
  text-align: center;
  margin-top: 50px;
}
.product_list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 120px;
}
.product_list ul{
  margin: 0;
}

.searchProduct{
  width: 400px;
  margin: 20px;
  height: 40px;
  border:1px solid skyblue;
  padding-left: 20px;

}

/* Media Query */

@media screen and (max-width:768px) {
  .product_list ul li{
    width: 80px;
  }
  
}